.imput-error{
    display: none;
}

.imput-error-action{
    display: block;
    color: red !important;
}
.alert-danger{
 display: none;   
}
#alertEnviar{
    display: none;
}
.container{
    margin-top: 60px;
    margin-bottom: 100px;
}
